<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a [routerLink]="['/']" class="nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
      <div>
        <div class="dropdown">
          <button
            style="color: #fff"
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            [routerLink]="['/exemple']"
          >
            Exemplos
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/exemple/cadastro']"
              >Cadastro</a
            >
            <a class="dropdown-item" [routerLink]="['/exemple/sua_rota']"
              >Exemplo de Rota</a
            >
          </div>
        </div>
      </div>
      <a [routerLink]="['/exemple']" class="nav-link" href="#">Produto</a>
      <a [routerLink]="['/footer']" class="nav-link" href="#">Footer</a>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <span>
    <ul>
      <li><a [routerLink]="['/product']"> Produto</a></li>
      <li><a [routerLink]="['/footer']"> Footer</a></li>
      <li><a [routerLink]="['/']"> Home </a></li>
    </ul>
  </span>
</nav> -->
